
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: rgb(24, 23, 23);
    color: rgba(100, 98, 98, 0.884);
    border-top: 4px solid #f50057;
  }
  .logo{
    text-align: center;
    color: #e5e5e5;
    font-weight: 700;
    font-style: oblique;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "Roboto";
    border: 1px solid #ffffff73;
    padding: 0.2rem;
    border-radius: 40px;
    cursor: pointer;
  }
  
  .nav__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .nav__list li{
    text-align: center;
    
    list-style: none;
    margin:  0 0.75rem;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;
    transition: color 650ms ease;
    cursor: pointer;
  }
  
  
  .nav__list li:hover{
    color: #b40c47;
  }
  .active{
    color: #f50057;
  }
  
  .nav__search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__search .search__box:first-child{
    width: 80%;
    margin: 0 auto;
  }
  .nav__search .search__input{
    margin-top: - 1rem;
    
  }
  .nav__search .search__box input::after{
    content: "";
    padding: 1rem;
    border: 2px solid #333;
  }
  .mobile__menu{
    display: none;
  }
  @media only screen and (min-width: 769px){
    nav{
      display: block !important;
    }
    .mobile__menu{
      display: none !important;
    }
  }
  @media only screen and (max-width: 768px){
    nav{
      display: none;
    }
    .mobile__menu{
      display: block;
    }
    .nav__list li{
      margin: 0 auto;
      margin-bottom: 1rem;
  
    }
  }
  @media only screen and (max-width: 515px){
    .nav__list{
      flex-direction: column;
      justify-content: center;
    }
    nav .logo__box, nav .nav__box {
      margin: 0.25rem auto;
    }
    nav .logo__box{
      margin-top: 4rem;
    }
    .nav__list li{
      margin-top: 0.5rem;
  
    }
  }
  @media only screen and (max-width: 374px){
  
    nav .logo__box, nav .nav__box {
      margin: 0.25rem auto;
    }
  
  }
  